Benjamin Schmid <bene>
Dean Baker <deanbaker>
Johannes Schindelin <Johannes.Schindelin@gmx.de>
Johannes Schindelin <gene099@ibook.dscho>
Johannes Schindelin <gene099>
Mark Longair <marklongair>
Tom Larkworthy <tomlarkworthy>
